* {
    box-sizing: border-box;
}
			

.header {
	background-color: gray;
	padding: 15px;
	text-align: center;
}

#balance {
    font-size: large;
    color: black;
    align-self: right;
}

#pay {
    font-size: large;
    color: black;
    align-self: right;
}

#loanSecond {

     background-color: #4CAF50; /* Green */
     border: none;
    color: white;
     padding: 15px 32px;
     text-align: center;
    text-decoration: none;
    display: inline-block;
     font-size: 16px;
      
}

#bankSecond {
  
        background-color: #FFD700; /* Green */
        border: none;
        color: white;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
      
}



#workSecond {
  background-color: #4682B4; /* Green */
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

#repayLoanSecond {

  background-color: #4CAF50; /* Green */
  border: none;
 color: white;
  padding: 12px 28px;
  text-align: center;
 text-decoration: none;
 display: none;
  font-size: 13px;
   
}

#buySecond {

  background-color: #4CAF50; /* Green */
  border: none;
 color: white;
  padding: 15px 32px;
  text-align: center;
 text-decoration: none;
 float: right;
  font-size: 16px;
   
}

.workSecond a:hover {
  background-color: #04AA6D;
  color: white;
}
			


            .topnav {
                position: relative;
                background-color: #333;
                overflow: hidden;
              }
              
              .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
              }
              
              .topnav a:hover {
                background-color: #ddd;
                color: black;
              }
              
              .topnav a.active {
                background-color: #04AA6D;
                color: white;
              }
              
              .topnav-centered a {
                float: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              
              .topnav-right {
                float: right;
              }
              
              @media screen and (max-width: 600px) {
                .topnav a, .topnav-right {
                  float: none;
                  display: block;
                }
              
                .topnav-centered a {
                  position: relative;
                  top: 0;
                  left: 0;
                  transform: none;
                }
              }
			
	
			.columnA, .columnB, .columnC {
				float: left;
        z-index: 99;
        position: relative;
				width: 31%;
				padding: 35px;
				text-align:justify;
			}
			h2 {
				color:green;
				text-align:left;
			}

            .columnD {
                float: bottom;
                position: relative;
				width: 41%;
				padding: 15px;
       
          
            
            }

            
            h4 {
              font-size: x-large;
              text-align: right;
              display: inline-block;
              margin-left: 70%;

            }

            h3 {
              font-size: xx-large;
              text-align: left;
              display: inline-block;
            }

            div.image {
              border: 3px solid #73AD21;
              display: inline-block;
            }


            .post-container {
              margin: 20px 20px 0 0;  
              border: 5px solid #333;
              overflow: auto
          }
          .post-thumb {
            margin-top: 5%;

              float: left;
              

          }
          .post-thumb img {
              height: 300px; width: 300px; overflow:hidden;
      
          }
          .post-content {
             
              margin-left: 340px

              
          }
         

          
			@media screen and (max-width:600px) {
				.columnA, .columnB, .columnC .columnD{
					width: 50%;
				}
			}
			@media screen and (max-width:400px) {
				.columnA, .columnB, .columnC  .columnD{
					width: 100%;
				}
			}
	